@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 261 100% 66%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 255 100% 0%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 261 100% 66%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}


/* COMPONENTS */
.openMenu__lines {
  background: #e2e8f0;
  display: block;
  height: 1px;
  position: relative;
  top: 0px;
  width: 30px;

  &:after,
  &:before {
    background: #e2e8f0;
    content: "";
    display: inline-block;
    height: 1px;
    left: 0;
    position: absolute;
    transform-origin: 0 50%;
    transition: top 0.3s, transform 0.4s, opacity 0.3s;
    width: 100%;
  }

  &:before {
    top: -8px;
  }

  &:after {
    top: 8px;
  }
}

.opened .openMenu__lines {
  background: transparent;
  /* Hide the original line by making it transparent */
}

.opened .openMenu__lines:before,
.opened .openMenu__lines:after {
  top: 0;
  transform-origin: 50% 50%;
  transition: all 0.4s ease-out;
}

.opened .openMenu__lines:before {
  transform: rotate(45deg);
}

.opened .openMenu__lines:after {
  transform: rotate(-45deg);
}

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-[#6f00ff] to-[#E000EF]
}

.hover-text-gradient {
  @apply hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-[#6f00ff] hover:to-[#E000EF]
}

.btn-long {
  @apply h-[65px] text-slate-200 border-2 border-[#6f00ff] hover:bg-[#E000EF] hover:border-[#E000EF] px-8 py-4 text-lg rounded-full transition-all duration-300 font-semibold tracking-widest;
}

/* UTILITIES */
.shadow-t-xl {
  --tw-shadow: 0 -20px 25px -5px rgb(0 0 0 / 0.1), 0 -8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 -20px 25px -5px var(--tw-shadow-color), 0 -8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}